<div id="token-dialog" class="modal pfb-dialog-wrap">
    <div class="pfb-dialog-title-wrap">
        <h1 style="color: white;">Pushbullet for Brackets</h1>
    </div>
    <div class="pfb-dialog-body">
       <h2 style="color: #34495E;">Push</h2>
        <input class="pfb-input" style="width: 557px;" id="pfb-push-to" type="text" placeholder="To"></input>
        <input class="pfb-input" style="width: 557px;" id="pfb-push-title" type="text" placeholder="Title"></input>
        <textarea class="pfb-input" style="width: 557px;" id="" cols="30" rows="10" placeholder="Message"></textarea>
        <div class="pfb-dialog-footer-wrap">
            <button class="pfb-dialog-button" id="pfb-push-push">Push</button>
        </div>
    </div>
</div>