<div id="token-dialog" class="modal pfb-dialog-wrap">
    <div class="pfb-dialog-title-wrap">
        <h1 style="color: white;">Pushbullet for Brackets</h1>
    </div>
    <div class="pfb-dialog-body">
        <h2 style="color: #34495E;">Access Token</h2>
        <input type="text" placeholder="Enter your access token here"></input>
        <p style="color: #34495E;">This access token is used to access your Pushbullet account. It can be found <a href="https://www.pushbullet.com/account">here.</a>
        </p>
        <div class="pfb-dialog-footer-wrap">
            <button class="pfb-dialog-button">Save</button>
        </div>
    </div>

</div>