.pfb-dialog-wrap {
    background-color: #4AB367 !important;
}

.pfb-dialog-title-wrap {
    padding-left: 15px;
}

.pfb-dialog-title {
    color: #ffffff;
}

.pfb-dialog-body {
    color: #000000;
    background-color: #ffffff;
    padding: 5px 15px 15px 15px;
}

.pfb-dialog-button {
    background-color: #4AB367;
    border: none;
    color: #ffffff;
    padding: 5px 7px;
    font-size: 17px;
}

.pfb-dialog-footer-wrap {
    text-align: right;
}

.pfb-input {
    display: block;
    color: #95a5a6 !important;
    border-color: #d5dbdb;
    background-color: #f4f6f6 !important;
}